$schema: "http://json-schema.org/draft-07/schema#"

description: aeDNA Trimming configuration file

type: object
properties:

  samples:
    type: string

  units:
    type: string

  reads:
    type: object
    properties:
      trim:
        type: object
        properties:
          activate:
            type: boolean
          tool:
            type: string
            enum: ["adapterremoval", "bbduk", "cutadapt", "fastp", "trimmomatic"]
        required:
          - activate
          - tool

      extension:
        type: object
        properties:
          activate:
            type: boolean
          k:
            type: integer
          params:
            type: string
        required:
          - activate
          - k
          - params

      derep:
        type: object
        properties:
          tool:
            type: string
            enum: ["vsearch", "seqkit"]
          params:
            type: string
        required:
          - tool
          - params

    required:
      - trim
      - extension
      - derep

  report:
    type: object
    properties:
      multiqc:
        type: string
    required:
      - multiqc

required:
  - samples
  - units
  - reads
  - report
