$schema: "https://json-schema.org/draft/2020-12/schema"

description: Read dereplication configuration file

type: object
properties:

  samples:
    type: string

  units:
    type: string

  reads:
    type: object
    properties:
      extension:
        type: object
        properties:
          activate:
            type: boolean
          k:
            type: integer
          params:
            type: string
            pattern: "^((?!\b--?(threads|in|filtermem|k|out)[ =]).)*$"
        required:
          - activate
          - k
          - params

      derep:
        type: object
        properties:
          tool:
            type: string
            enum: ["vsearch", "seqkit"]
          params:
            type: string
            pattern: "^((?!\b--?(fastx_uniques|fastqout|sizein|sizeout|j|threads|s|by-seq|i|ignore-case|D|dup-num-file|o|out-file)[ =]).)*$"
        required:
          - tool
          - params

      low_complex:
        type: object
        properties:
          params:
            type: string
            pattern: "^((?!\b--?(in|in1|in2|ref|out|out1|out2|outm|outs)[ =]).)*$"
        required:
          - params

    required:
      - extension
      - derep
      - low_complex

  report:
    type: object
    properties:
      multiqc:
        type: string
        pattern: "^((?!\b--?(n|filename|o|outdir|data-dir|no-data-dir|z|zip-data-dir|no-report|pdf|version|clean-up|no-clean-up|h|help)[ =]).)*$"
    required:
      - multiqc

required:
  - samples
  - units
  - reads
  - report
